<!doctype html>
<html>
  <head>
    <link href="/css/mk.css" rel="stylesheet">
    <link href="/css/github-markdown.min.css" rel="stylesheet">
    <link href="/highlight/styles/github.min.css" rel="stylesheet">
    <script src="/js/markdown-it.min.js"></script>
    <script src="/js/markdownItTocDoneRight.umd.js"></script>
    <script src="/js/markdownItAnchor.umd.js"></script>
    <script src="/highlight/highlight.min.js"></script>
    <script>
      const content = <%- JSON.stringify(content) %>
    </script>
  </head>
  <body>
    <div class="max-w-[90ch] mx-auto p-6 border border-solid border-neutral-100 border-t-0 border-b-0">
      <div id="mk" class="markdown-body">
    </div>
    </div>
    <script src="/js/mk.js" type="module"></script>
  </body>
</html>
